<div class="grid-container">
  <h1 class="mat-h1">Problema 2</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Solução
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <form class="form">
            <mat-form-field class="full-width">
              <mat-label>Valor 1</mat-label>
              <input matInput placeholder="Ex. 1" type="number" value="0" #fvalue>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Operations</mat-label>
              <mat-select [(ngModel)]="selectedValue" name="operation">
                <mat-option *ngFor="let operation of operations" [value]="operation.value">
                  {{operation.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Valor 2</mat-label>
              <input matInput placeholder="Ex. 1" type="number" value="0" #svalue>
            </mat-form-field>
          </form>
          
          <br/>

          <button mat-flat-button color="accent" (click)="calc(fvalue.value,svalue.value)">Calcular</button>
          <h2>{{binaryValue}}</h2>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
