<div class="grid-container">
  <h1 class="mat-h1">Problema 1</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Solução
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <form class="form">
            <mat-form-field class="full-width">
              <mat-label>Quantidade de valores</mat-label>
              <input matInput placeholder="Ex. 1" type="number" value="1" #arrsize>
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Insira os números</mat-label>
              <textarea matInput #textarea value="-1 1 1 -2 3 4 5 6 7 8"></textarea>
            </mat-form-field>
          </form>
          
          <br/>

          <button mat-flat-button color="accent" (click)='sortValues(textarea.value, arrsize.value)'>Ordenar</button>
          <div>
              <h2>Tamanho do array: {{arr_size}}</h2>
              <h2>Numeros ordenados: [{{sorted_numbers}}]</h2>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
