@import '~@angular/material/theming';
@include mat-core();

$digistarts-test-primary: mat-palette($mat-indigo);
$digistarts-test-accent: mat-palette($mat-pink, A200, A100, A400);

$digistarts-test-warn: mat-palette($mat-red);

$digistarts-test-theme: mat-light-theme((
  color: (
    primary: $digistarts-test-primary,
    accent: $digistarts-test-accent,
    warn: $digistarts-test-warn,
  )
));

@include angular-material-theme($digistarts-test-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

